<div>
  <form [formGroup]="form" (ngSubmit)="save($event)">
    <div formGroupName="fullName">
      <mat-form-field appearance="fill">
        <mat-label
          >Name: {{ nameField?.value }} {{ nameField?.valid }}</mat-label
        >
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <div class="message" [class.active]="isNameFieldInvalid">
        <mat-error *ngIf="nameField?.touched && nameField?.hasError('required')"
          >Este campo es requerido</mat-error
        >
        <mat-error
          *ngIf="nameField?.touched && nameField?.hasError('maxlength')"
          >Este campo debe tener máximo 10 caracteres</mat-error
        >
        <mat-error *ngIf="nameField?.touched && nameField?.hasError('pattern')"
          >No debe tener caracteres</mat-error
        >
      </div>
      
      
      <p>
        LastName: {{ lastNameField?.value }} {{ lastNameField?.valid }}
        <input type="text" formControlName="lastName" />
      </p>
      <!-- <div class="message" [class.active]="isNameFieldInvalid">
        <p>
          <strong *ngIf="nameField?.touched && nameField?.hasError('required')"
            >Este campo es requerido</strong
          >
        </p>
        <p>
          <strong *ngIf="nameField?.touched && nameField?.hasError('maxlength')"
            >Este campo debe tener máximo 10 caracteres</strong
          >
        </p>
        <p>
          <strong *ngIf="nameField?.touched && nameField?.hasError('pattern')"
            >No debe tener caracteres</strong
          >
        </p>
      </div> -->
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email2" required>
        @if (email2.invalid) {
          <mat-error>{{getErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </div>
    <p>
      Email: {{ emailField?.value }}
      <input type="email" formControlName="email" />
    </p>
    <div
      class="message"
      [class.active]="emailField?.touched && emailField?.invalid"
    >
      <p>
        <strong *ngIf="emailField?.hasError('required')"
          >Este campo es requerido</strong
        >
      </p>
      <p>
        <strong *ngIf="emailField?.hasError('email')"
          >Este email no es válido</strong
        >
      </p>
    </div>
    <p>
      Phone: {{ phoneField?.value }}
      <input type="tel" formControlName="phone" />
    </p>
    <p>
      Color: {{ colorField?.value }}
      <input type="color" formControlName="color" />
    </p>
    <p>
      Date: {{ dateField?.value }}
      <input type="date" formControlName="date" />
    </p>
    <p>
      Number: {{ numberField?.value }}
      <input type="number" formControlName="number" />
    </p>
    <div
      class="message"
      [class.active]="numberField?.touched && numberField?.invalid"
    >
      <p>
        <strong *ngIf="numberField?.hasError('required')"
          >Este campo es requerido</strong
        >
      </p>
      <p>
        <strong *ngIf="numberField?.hasError('min')"
          >Debe ser un numero mayor a 18</strong
        >
      </p>
      <p>
        <strong *ngIf="numberField?.hasError('max')"
          >Debe ser un numero menor a 100</strong
        >
      </p>
    </div>
    <p>
      Categories: {{ categoryField?.value }}
      <select formControlName="category">
        <option value="category-1">Category 1</option>
        <option value="category-2">Category 2</option>
        <option value="category-3">Category 3</option>
        <option value="category-4">Category 4</option>
      </select>
    </p>
    <p>
      Tags: {{ tagField?.value }}
      <select formControlName="tag" multiple>
        <option value="tag-1">Tag 1</option>
        <option value="tag-2">Tag 2</option>
        <option value="tag-3">Tag 3</option>
        <option value="tag-4">Tag 4</option>
      </select>
    </p>
    <p>
      Agree: {{ agreeField?.value }}
      <input type="checkbox" formControlName="agree" />
    </p>
    <p>
      Gender: {{ genderField?.value }}
      <label for="">
        <input
          name="gender"
          type="radio"
          value="male"
          formControlName="gender"
        />
        Male
      </label>
      <label for="">
        <input
          name="gender"
          type="radio"
          value="female"
          formControlName="gender"
        />
        Female
      </label>
      <label for="">
        <input
          name="gender"
          type="radio"
          value="other"
          formControlName="gender"
        />
        Other
      </label>
    </p>
    <p>
      Gender: {{ zoneField?.value }}
      <label for="">
        <input name="zone" type="radio" value="zone1" formControlName="zone" />
        Zona 1
      </label>
      <label for="">
        <input name="zone" type="radio" value="zone2" formControlName="zone" />
        Zona 2
      </label>
      <label for="">
        <input name="zone" type="radio" value="zone3" formControlName="zone" />
        Zona 3
      </label>
    </p>
    <p><button type="submit">Enviar</button></p>
  </form>
</div>
